/* .todo-app {
  text-align: center;
  height: auto;
}

.header h1 {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 100;
  width: 100%;
}

.input-todo .task-input {
  width: 300px;
  border-color: transparent;
  border-bottom-color: black;
  border-left-color: greenyellow;
}

.input-todo button {
  margin: 2px;
}

.show-list input {
  width: 300px;
  border-color: transparent;
  border-bottom-color: black;
  border-left-color: greenyellow;
}

.show-list button {
  margin: 2px;
}

footer .total-todos i {
  text-decoration-line: underline;
  color: chocolate;
}

footer .button-todos button {
  margin: 2px;
} */
